<div class="card mx-auto text-center border-light" style="width: 18rem;">
    <img src="assets/catalog-icon.png" class="card-img-top" alt="Angular logo">
    <div class="card-body">
        <h5 class="card-title">Catalog Project</h5>
        <p class="card-text">
            A catalog project created for training with .NET and Angular
        </p>
        <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
        <a href="https://learn.microsoft.com/es-es/dotnet/core/whats-new/dotnet-6/" target="_blank"
            class="card-link">.NET 6</a>
    </div>
</div>