<mat-form-field>
    <mat-label>Search your Item</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Good Kid" #input>
</mat-form-field>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" #table>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Label Name Column -->
        <ng-container matColumnDef="labelName">
            <th mat-header-cell *matHeaderCellDef> Label Name </th>
            <td mat-cell *matCellDef="let element"> {{element.labelName}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price.amount}} {{element.price.currency}} </td>
        </ng-container>

        <!-- Release Date Column -->
        <ng-container matColumnDef="releaseDate">
            <th mat-header-cell *matHeaderCellDef> Release Date </th>
            <td mat-cell *matCellDef="let element"> {{element.releaseDate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Format Column -->
        <ng-container matColumnDef="format">
            <th mat-header-cell *matHeaderCellDef> Format </th>
            <td mat-cell *matCellDef="let element"> {{element.format }} </td>
        </ng-container>

        <!-- Available Stock Column -->
        <ng-container matColumnDef="availableStock">
            <th mat-header-cell *matHeaderCellDef> Available Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.availableStock}} </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button type="submit" class="btn btn-danger" (click)="deleteItem(element.id)">
                    <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalAmountOfRecords" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]"
        aria-label="Select page" (page)="updatePagination($event)">
    </mat-paginator>
    <button class="add-button" mat-raised-button routerLink="/items/add-item" routerLinkActive="active">Add
        Item</button>
</div>