<h2 class="title">Add a new Artist</h2>
<form [formGroup]="artistForm">
    <div class="col">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [formControl]="artistForm.controls['artistName']| formControl"
                placeholder="Enter the artist name">
            <mat-error *ngIf="artistForm.controls['artistName'].hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
</form>
<div class="row">
    <button mat-raised-button [disabled]="artistForm.invalid" (click)="saveArtist()" id="save-btn">Save</button>
    <button mat-raised-button routerLink="/artists" id="cancel-btn">Cancel</button>
</div>